# IMPORTING LIBRARIES

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

# GETTING DATASET

In [5]:
df = pd.read_csv('veggies.csv')
df.head()

,Name,Monday_w1,Calories Monday_w1,Tuesday_w1,Calories Tuesday_w1,Wednesday_w1,Calories Wednesday_w1,Thursday_w1,Calories Thursday_w1,Friday_w1,...,Calories Friday_w2,Saturday_w2,Calories Saturday_w2,Sunday_w2,Calories Sunday_w2,Age,Weight,Height,Gender,Calories
0,Farooq,Bottlegourd,15,Tomato,18,Potatoes,77,Broccoli,34,Spinach,...,149,Mint,70,Cabbage,25,23,65,163,M,2200
1,Hassan,Potatoes,77,Bottlegourd,15,Carrot,41,Spinach,87,Radish,...,23,Garlic,149,Corn,86,18,64,175,M,2200
2,Usman,Tomato,18,Onion,40,Spinach,87,Potatoes,77,Cauliflower,...,16,Zucchini,25,Bottlegourd,15,20,68,164,M,2200
3,Hamza,Broccoli,34,Cauliflower,25,Bottlegourd,15,Okra,33,Potatoes,...,81,Eggplant,25,Indian squash,81,24,66,171,M,2200
4,Omair,Cauliflower,25,Corn,86,Okra,33,Bottlegourd,15,Olives,...,26,Cabbage,25,Tomato,18,25,81,162,M,2200

# COUNTING CONSUMED CALORIES FOR EACH INDIVIDUAL

In [6]:
# df.iloc[[1],[2,4,6,8,10,12,14,16,18,20,22,24,26,28]]
df2 = df.iloc[0:50,[0,2,4,6,8,10,12,14,16,18,20,22,24,26,28]]
df2['Consumed_Calories'] = df2.sum(axis=1, numeric_only= True)
df2.head()

,Name,Calories Monday_w1,Calories Tuesday_w1,Calories Wednesday_w1,Calories Thursday_w1,Calories Friday_w1,Calories Saturday_w1,Calories Sunday_w1,Calories Monday_w2,Calories Tuesday_w2,Calories Wednesday_w2,Calories Thursday_w2,Calories Friday_w2,Calories Saturday_w2,Calories Sunday_w2,Consumed_Calories
0,Farooq,15,18,77,34,87,86,25,33.0,41,120,40,149,70,25,820.0
1,Hassan,77,15,41,87,16,33,364,34.0,86,18,81,23,149,86,1110.0
2,Usman,18,40,87,77,25,16,41,87.0,34,77,25,16,25,15,583.0
3,Hamza,34,25,15,33,77,18,87,23.0,120,70,16,81,25,81,705.0
4,Omair,25,86,33,15,120,87,16,80.0,31,15,29,26,25,18,606.0

# USER GAINED CALORIES

In [7]:
df2.loc[:,['Name','Consumed_Calories']].head()

     Name  Consumed_Calories
0  Farooq              820.0
1  Hassan             1110.0
2   Usman              583.0
3   Hamza              705.0
4   Omair              606.0

# CALORIES LEFT

In [8]:
df3 = df['Consumed_Calories'] = df2['Consumed_Calories']
df3.head()

0     820.0
1    1110.0
2     583.0
3     705.0
4     606.0
Name: Consumed_Calories, dtype: float64

In [9]:
# df4 = df['Calories'].subtract(df3)
# df['x'] = df['Height'].subtract(df['Age'])
# df['Calories']
# df4.head()
# df['Consumed_Calories']

In [13]:
#ERROR NOT GETTING CALORIES COLUMN
# df3 =  df['Calories']

KeyError: 'Calories'